#first{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
}
#second{
    position:absolute;
    padding-left: 5px;
    padding-right: 5px;
}
#third{
    position:absolute;
    padding-left: 5px;
    padding-right: 5px;
}