.divdesign{
    align-content: center;
}
.center {
    padding-top: 50px;
    /* width: 50%;
    padding-left: 50%; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

a:link,a:visited{
    background-color: green;
    color:white;
    padding: 10px 45px;
    border-radius: 5px;
    text-decoration: none;
}
a:hover,a:active{
    border-radius: 10px;
    background-color:lightgreen;
    text-decoration: dotted;
}
.h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0%;

}
.nopadding{
    margin-right:200px;
    font-size: 20px;
}
.password{
    margin-right:170px;
    font-size: 20px;
}
.box{
    border: 10px solid transparent;
    border-radius: 10px;
    width: 300px;
    border-color: teal;
    background:white;
    margin: 10px auto 0 auto;
    padding:0px 30px 50px 30px;
}

.inputdesign{
    width: 240px;
    height: 20px;
    font-size: 15px;
    
    padding:2px 0px 0px 8px;
}
.username{
    margin-right:170px;
    font-size: 20px;
}
.padding{
    padding-top: 0px;
}

